doctype html
html
  head
    title Unlock test account page
  body
    h1 Hello&nbsp;
      span#email= user.email
    div
      button#logout Log out
    div
      button#delete Delete account
    script(src='js/lib/promise.min.js')
    script(src='js/lib/fetch.js')
    script(src='js/lib/cookies.min.js')
    script(src='js/account.js')