doctype html
html
  head
    title Unlock test
    link(rel='stylesheet', href='https://rawgit.com/GuyShane/UnlockClient/master/src/unlock.css')
  body
    h1 Log in
    #error
    div
      input#email(type='email')
    #unlock-button
    script(src='https://rawgit.com/GuyShane/UnlockClient/master/src/unlock.js')
    script(src='js/lib/cookies.min.js')
    script(src='js/index.js')